.location {
  @extend .txt_light;
  padding: 16px;
  border-radius: 12px;
  width: 400px;
  margin-bottom: 22px;
  margin-right: 40px;
  background: rgba(map-get($colors, dark), .3);
  box-shadow: 1px 1px 10px rgba(map-get($colors, dark), .3);
  &_city {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 22px;
    span {
      display: inline-block;
      font-weight: 300;
      margin-top: 12px;
    }
  }
  .time {
    font-size: 22px;
  }

  @media screen and (max-width: 1280px) {
    width: 300px;
    &_city {
      font-size: 18px;
      font-weight: 400;
    }
  }
  @media screen and (max-width: 600px) {
    margin-right: 16px;
  }
}